<div class="errorbox-wrapper" hcDialogResize>
  <div class="errorbox-header">
    <div class="errorbox-header-title">
      <span>{{ title }}</span>
    </div>
    <div class="errorbox-header-icon">
      <fa-icon size="2x" [icon]="iconExclamation" />
    </div>
  </div>
  @if (!showStackTrace) {
  <div class="errorbox-message">
    <span>{{ message }}</span>
  </div>
  }
  @if (showStackTrace && stackTrace) {
  <div class="errorbox-stacktrace">
    <div class="errorbox-stacktrace-scroller">
      <span>{{ stackTrace }}</span>
    </div>
  </div>
  }
  <div class="errorbox-footer" cdkTrapFocus>
    @if (stackTrace) {
    <button type="button" mat-raised-button (click)="onDetailsClick()">{{ showStackTrace ? 'Hide Details' : 'Show Details'}}</button>
    }
    <button type="button" mat-raised-button (click)="onOkClick()">Ok</button>
  </div>
</div>
